@import "src/styles";

.task-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(92, 102, 107, 0.75);
  padding: 10px;
  border-radius: 3px;
}

.task-main-data-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.action-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
}

.title {
  font-weight: bold;
}

.description {
  padding-top: 5px;
  font-size: 14px;
  font-style: italic;
  text-align: justify;
}

.clickable {
  cursor: pointer;
}

#states {
  border-radius: 4px;
}

.state-PLANNED {
  background-color: #b3e5fc;
  border-color: #82b3c9;
}

.state-PROGRESS {
  background-color: #ffecb3;
  border-color: #cbba83;
}

.state-COMPLETED {
  background-color: #dcedc8;
  border-color: #aabb97;

}

.state-CANCELED {
  background-color: #ffcdd2;
  border-color: #cb9ca1;
}
