<div class="wrapper" [formGroup]="loginForm">
  <div class="name-container name">Registration</div>
  <div class="block-input">
    <label for="username">Username</label>
    <input type="text"
           name="username"
           id="username"
           formControlName="username"/>
  </div>
  <div class="block-input-with-error">
    <div class="block-input">
      <label for="password">Password</label>
      <div class="block-input-with-icon">
        <input [type]="hide ? 'password' : 'text'"
               class="input-near-icon"
               id="password"
               formControlName="password"/>
        <mat-icon class="icon-near-input" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </div>
    </div>
    <app-validation-message class="error-message" [condition]="loginForm.get('password')!.hasError('pattern')">
      The password must contain upper and lower case letters, numbers, and other special characters.
      The minimum number of characters is 8.
    </app-validation-message>
  </div>
  <div class="block-input-with-error">
    <div class="block-input">
      <label for="repeat-password">Repeat password</label>
      <div class="block-input-with-icon">
        <input [type]="hideRepeat ? 'password' : 'text'"
               class="input-near-icon"
               id="repeat-password"
               formControlName="repeatPassword"/>
        <mat-icon class="icon-near-input"
                  (click)="hideRepeat = !hideRepeat">{{hideRepeat ? 'visibility_off' : 'visibility'}}</mat-icon>
      </div>
    </div>
    <app-validation-message class="error-message" [condition]="isDifferentPassword()"> Error: Different passwords!
    </app-validation-message>
  </div>
  <div class="button-container">
    <button class="button button-back" (click)="back()">
      <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
      <span class="material-symbols-outlined">arrow_back_ios</span>
    </button>
    <button class="button button-login" (click)="register()" [disabled]="loginForm.invalid">Register</button>
  </div>
</div>
