.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 20px;
  color: crimson;
  font-size: 16px;
  font-weight: 500;
}

.container mat-icon {
  transform: scale(0.9);
}

.lineUp {
  animation: 2s anim-lineUp ease-out;
}

.lineDown {
  animation: 2s anim-lineDown ease-out;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}


@keyframes anim-lineDown {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  20% {
    opacity: 1;
    transform: translateY(0%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(80%);
  }
}

