<div class="task-container">
  <div class="task-main-data-block">
    <div class="title">{{task.title}}</div>
    <div class="action-block">
      <div>
        <select name="states"
                id="states"
                class="state"
                [(ngModel)]="task.state"
                [ngClass]="'state-'+task.state"
                (ngModelChange)="updateState()">
          <option *ngFor="let state of taskStates"
                  class="state"
                  [value]="state">
            <span>{{state}}</span>
          </option>
        </select>
      </div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item
                (click)="onDeleteClick()">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <div class="description clickable"
       (click)="onEditClick()">
    {{task.description}}
  </div>
</div>
