@import "src/styles";

.task-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(92, 102, 107, 0.75);
  padding: 10px;
  border-radius: 3px;
}

.task-main-data-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.action-block {
  width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
}

.title {
  font-weight: bold;
}

.description {
  padding-top: 5px;
  font-size: 14px;
  font-style: italic;
  text-align: justify;
}

.clickable {
  cursor: pointer;
}
