@import "src/styles";

.wrapper {
  margin: 0;
  padding-right: 10px;
  height: 40px;
  background: $background-dark-grey;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.wrapper-greeting {
  margin-right: 10px;
  font-size: 18px;
}

.username {
  font-weight: bold;
  font-style: italic;
}
