@import "src/styles";

.wrapper {
  margin: 0;
  padding: 0 10px 0 15px;
  height: 40px;
  background: $background-dark-grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.wrapper-left-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  text-align: center;
  font-size: 25px;
  font-family: $font-header;
  letter-spacing: 2px;
  text-shadow: $text-shadow;
  cursor: pointer;
}

.wrapper-greeting {
  margin-right: 10px;
  font-size: 18px;
}

.username {
  font-weight: bold;
  font-style: italic;
}
