<div class="header-wrapper">
  <div class="name-container name" (click)="isTasksPassed = !isTasksPassed">
    Your tasks
  </div>
  <button class="button button-add" (click)="addTask()">
    <span class="button-text"> Create task</span>
    <mat-icon>create</mat-icon>
  </button>
</div>
<div class="main-wrapper"
     infinite-scroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="1000"
     (scrolled)="onScrollDown()"
     [scrollWindow]="false">
  <div class="tasks">
    <ng-container *ngIf="allTasks && allTasks.size > 0; else noNotes">
      <div *ngFor="let key of dates">
        <app-notice [taskForOneDate]=allTasks.get(key)!
                    [date]="key"
                    (tasksUpdated)="tasksUpdated($event)">
        </app-notice>
      </div>
    </ng-container>
    <ng-template #noNotes>
      <div class="text-no-task">There are no notes yet. Let's create them.</div>
    </ng-template>
  </div>
</div>
