<div class="dialog-wrapper">
  <h1 mat-dialog-title class="name-container name">Delete task</h1>
  <div class="message">
    Are you sure you want to delete this task ?
  </div>
  <div class="task-container">
    <div class="top-block">
      <div class="title">{{task.title}}</div>
      <div>{{task.state}}</div>
    </div>
    <div>{{task.description}}</div>
  </div>
  <div class="buttons-wrapper">
    <button class="button button-style" (click)="onCancelClick()">Close</button>
    <button class="button button-style" (click)="onDeleteClick()">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </div>
</div>
