@import "src/styles";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 80px;
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: 3px 3px 3px rgba(92, 102, 107, 0.75);
}

.name-container {
  margin-bottom: 40px;
  font-size: 80px;
  font-family: $font-header;
  letter-spacing: 8px;
  text-shadow: 3px 3px 3px rgba(92, 102, 107, 0.75);
}

.block-input {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.block-input-with-error {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 25px;
}

input {
  height: 30px;
  width: 300px;
  background: none;
}

.button-container {
  width: 400px;
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.button-login {
  width: 200px;
  border-radius: 15px;
  font-size: 25px;
}

.material-symbols-outlined {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 4px;
}

.button-back {
  height: 60px;
  width: 80px;
  border-radius: 15px;
  font-size: 25px;
}
