<div class="wrapper" [formGroup]="loginForm">
  <div class="name-container name">Login</div>
  <div class="block-input">
    <label for="username">Username</label>
    <input type="text"
           name="username"
           id="username"
           formControlName="username"/>
  </div>
  <div class="block-input">
    <label for="password">Password</label>
    <div class="block-input-with-icon">
      <input [type]="hide ? 'password' : 'text'"
             class="input-near-icon"
             id="password"
             formControlName="password">
      <mat-icon class="icon-near-input" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </div>
  </div>
  <div class="button-container">
    <button class="button button-back" (click)="back()">
      <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
      <span class="material-symbols-outlined">arrow_back_ios</span>
    </button>
    <button class="button button-login" (click)="login()" [disabled]="loginForm.invalid">Authenticate</button>
  </div>
</div>
