@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');

@font-face {
  font-family: "Nautilus";
  src: url('assets/font/Nautilus.otf');
}

$font-button: "Crimson Text", serif;
$font-header: "Nautilus", serif;

html, body {
  height: 100%;
}

body {
  background-image: url("assets/img/backgound/background1.jpg");
  background-repeat: repeat;
  background-blend-mode: overlay;
  padding: 0;
  margin: 0;
  height: 100%;
}

app-root {
  height: 100%;
  display: block;
}

.button {
  border: 1px solid black;
  font-family: $font-button;
  font-style: italic;
  background: rgba(127, 142, 147, 0.28);
  box-shadow: 3px 3px 3px rgba(92, 102, 107, 0.75);
}

.button:hover {
  background: rgba(113, 126, 131, 0.56);
  color: #ffa088;
}

div.cdk-global-overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(82, 82, 82, 0.81);
}

.rc-anchor-light.rc-anchor-normal {
  border: none !important;
}

.rc-anchor-light {
  background: none !important;
}
