@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "styles-material.scss";

@font-face {
  font-family: "Nautilus";
  src: url('assets/font/Nautilus.otf');
}

$font-button: "Crimson Text", serif;
$font-header: "Nautilus", serif;
$black-for-component: #1a1818;
$text-shadow: 3px 3px 3px rgba(92, 102, 107, 0.75);
$background-image: "background1.jpg";

html, body {
  height: 100%;
}

body {
  background-image: url("assets/img/backgound/" + $background-image);
  background-repeat: repeat;
  background-blend-mode: overlay;
  padding: 0;
  margin: 0;
  height: 100%;
}

app-root {
  height: 100%;
  display: block;
}

.name-container {
  font-family: $font-header;
  text-shadow: $text-shadow
}

.button {
  border: 1px solid black;
  font-family: $font-button;
  font-style: italic;
  background: rgba(127, 142, 147, 0.28);
  box-shadow: $text-shadow
}

.button:hover {
  background: rgba(113, 126, 131, 0.56);
  color: #ffa088;
}

div.cdk-global-overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(82, 82, 82, 0.81);
}

.mat-dialog-container {
  padding: 0 !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: $black-for-component !important;
}

::ng-deep.mat-form-field-underline {
  background-color: $black-for-component !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: $black-for-component !important;
}

::ng-deep .mat-form-field-label {
  color: $black-for-component !important;
}


mat-datepicker-toggle {
  color: $black-for-component !important;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $black-for-component !important;
}

.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element, .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
  background: rgba(87, 87, 87, 0.75) !important;
}

.mat-form-with-error .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.mat-form-with-error .mat-form-field-underline {
  bottom: 0 !important;
}

.rc-anchor-light.rc-anchor-normal {
  border: none !important;
}

.rc-anchor-light {
  background: none !important;
}
